<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'oxford2/style.css' %}">
<style>
</style>
<script src=""></script>

<body>

<h1>Project lists</h1>
{% if project_list %}
 <ul>
 {% for project in project_list %}
   <li>Project name: {{ project.name }}</li>
 {% endfor %}
 </ul>
{% else %}
  <p>No projects available.</p>
{% endif %}
<h2>Current project</h2>
<p> {{ current_project }} </p>

</body>
