<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'oxford2/style.css' %}">
<style>
</style>
<script src=""></script>

<body>

<div class="w3-container">
  <div class="w3-row w3-black">
    <div class="w3-quarter">
      <img src="{% static 'oxford2/logo.png' %}">
    </div>
    <div class="w3-half">
      <h1>Documentation Portal</h1>
    </div>
    <div class="w3-quarter">
      <p>[Login stuff goes here]</p>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-bar w3-blue">
      <a href="#home" class="w3-bar-item w3-button w3-white">Home</a>
      <a href="#doc-tab1" class="w3-bar-item w3-button">Doc-Tab-1</a>
      <a href="#doc-tab2" class="w3-bar-item w3-button">Doc-Tab-2</a>
      <a href="#doc-tab3" class="w3-bar-item w3-button">Doc-Tab-3</a>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-quarter w3-light-grey">
      <h1>Project lists</h1>
      {% if project_list %}
        <ul>
        {% for project in project_list %}
          <li>Project name: {{ project.name }}</li>
        {% endfor %}
        </ul>
      {% else %}
        <p>No projects available.</p>
      {% endif %}
      <h2>Current project</h2>
      <p> {{ current_project }} </p>
    </div>
    <div class="w3-threequarter w3-yellow">
      {{ page_content|safe }}
    </div>
  </div>
  <div class="w3-row w3-black">
    <h3>Powered by Tiur.</h3>
  </div>
</div>
</body>
