<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Documentation Portal</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'oxford2/style.css' %}">
<style>
{% if darkmode %}
.activepage {
  background-color: rgba(33,150,243,0.5);
}
{% else %}
.activepage {
  background-color: rgba(33,150,243,0.1);
}
{% endif %}
</style>

<body>

<div class="w3-container">
  <div class="w3-row w3-black">
    <div class="w3-quarter">
      <a href="/"><img src="/{{ logo_filename }}"></a>
    </div>
    <div class="w3-half">
      <h1>Documentation Portal</h1>
    </div>
    <div class="w3-quarter">
      <p>Welcome, {{ user.get_username }} <a href="{% url 'logout' %}">Sign Out</a></p>
      <p>
      {% if user.is_superuser %}
      <a href="/admin">Admin panel</a>
      {% endif %} 
      {% if darkmode %}
      <a href="/rmdarkmode">Light mode</a></p>
      {% else %}
      <a href="/setdarkmode">Dark mode</a></p>
      {% endif %}
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-bar w3-blue">
      <a href="/" class="w3-bar-item w3-button w3-blue">Home</a>
      {% for tab_id, tab_name in tab_list %}
          {% if tab_id == current_project %}
            <a href="/zip/{{ tab_id }}/latest/index.html" class="w3-bar-item w3-white w3-button">{{ tab_name }}</a>
          {% else %}
            <a href="/zip/{{ tab_id }}/latest/index.html" class="w3-bar-item w3-button">{{ tab_name }}</a>
          {% endif %}
      {% endfor %}
      <div id="search-results" class="search-results"></div>
    </div>
  </div>
  {% if darkmode %}
  <div class="w3-row w3-black">
  {% else %}
  <div class="w3-row w3-white">
  {% endif %}
    <div class="w3-full">
      <div class="w3-row">
        {{ page_content|safe }}
      </div>
    </div>
    <div class="w3-quarter w3-white">
    </div>
  </div>
  <div class="w3-row w3-black">
    <h4>&nbsp; {{ footer_text|safe }}</h4>
  </div>
</div>
</body>
